.main {
    border: 1px solid #e1e1e1;
	border-left:none;
	border-right:none;
    padding: 10px 0;
}

.slide-show {
    width: 830px;
    overflow: hidden;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.slide-show ul {
    width: 3000px;
}

.content {
    width: 830px;
    margin: 0 auto;
    position: relative;
}

.slide-show li {
    margin-right: 10px;
    width: 200px;
    height: 160px;
}

.content p {
    text-indent: 2em;
    font-size: 14px;
	line-height:1.6em
}

.title {
    font-size: 1.5em;
    padding: 10px 0;
}

.info-box {
	background-color: #EEE;
	padding: 10px 20px 20px 20px;
	float: left;
	margin: 0 1em 1em 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 10px 0 #BBB;
	-moz-box-shadow: 0 0 10px 0 #bbb;
	box-shadow: 0 0 10px 0 #BBB;
	overflow: visible;
	width: 200px;
	color: #333;
	font-size: 12px;
	text-indent: 0;
}

.info-title {
    border-bottom: 1px solid #ccc;
}

.label {
    display: block;
    width: 60px;
}

.info-item {
    line-height: 24px;
}

a {
	text-decoration:underline;
}

.value{
	display:block;
	width:130px;
	word-wrap: break-word; 
	word-break: normal; 
}

.outline-list a{
	display:block;
	font-size:13px;
	line-height:30px;
	height:30px;
	
}

.outline {
    position: fixed;
    top: 200px;
    left: 180px;
	left: 160px\9;
}

.outline-list {
    background-color: #BEBEBE;
    position: absolute;
    padding: 10px 20px 20px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px 0 #BBB;
    -moz-box-shadow: 0 0 10px 0 #bbb;
    box-shadow: 0 0 10px 0 #BBB;
    overflow: visible;
	width:120px;
	width:110px\9;
	color:#333;
	opacity:0.2;
	right:0;
}

.outline-op {
    display: block;
    width: 31px;
    height: 30px;
    background: url(../assets/folder.png) no-repeat;
    position: absolute;
    top: -15px;
    left: -15px;
	z-index:3;
}

.unfolder{
	background-position:-31px 0;
}
